/* Inicia css de prestamo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
    color: #000000;
}

.contenedor {
    background-color: #fdf3e7; 
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 28% 36% 36%;
    align-items: center;
    padding: 0 40px;
}

.panel {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-right: 1px solid #999999; 
}

.imagen {
    width: 210px;
    height: 310px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}

.book-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nota {
    margin-bottom: 30px;
    font-size: 1rem;
}

.estrellas {
    color: #ffcc00;
    margin-right: 5px;
}

.text {
    font-weight: 600;
    font-size: 0.9rem;
}

.accion {
    width: 100%;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    width: 100%;
    padding: 14px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: #007bff;
    color: #ffffff;
}

.btn-primary a{
    color: white;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-panel {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10% 0 12%; 
}

.loan-header {
    margin-bottom: 35px;
}

.main-title {
    font-size: 1.8rem;
    font-weight: 700;
    font-style: italic;
    color: #000000;
}

.estado {
    font-size: 1.1rem;
    color: red; 
    font-weight: 500;
    margin-top: 5px;
}

.estado .no-disponible {
    font-weight: 700;
}

.loan-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group label {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    color: #000000;
}

.input-group input {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 14px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    font-style: italic;
    color: #333333;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.02);
}

.input-group input::placeholder {
    color: #999999;
}

.right-panel {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    padding: 0 12% 0 5%;
}

.conditions-box h3, .summary-box h3 {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 12px;
}

.conditions-blank-card {
    background-color: #ffffff;
    border-radius: 16px;
    height: 160px; 
    width: 100%;
}

.conditions-blank-card h4 {
    color: black;
    text-align: center;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    
}


.summary-card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.02);
}

.summary-item {
    display: grid;
    grid-template-columns: 38% 62%;
    align-items: flex-start;
    font-size: 0.9rem;
}

.summary-item strong {
    font-weight: 700;
    color: #000000;
}

.summary-item span {
    color: #555555;
}

@media (max-width: 768px) {
    
    .contenedor {
        display: flex;
        flex-direction: column;
        height: auto; 
        width: 100%;
        padding: 20px;
    }

    .panel {
        width: 100%;
        height: auto;
        padding: 30px 10px;
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .imagen {
        width: 170px;
        height: 250px;
    }

    .accion {
        max-width: 100%;
        padding: 0 10px;
    }

    .form-panel {
        width: 100%;
        height: auto;
        padding: 30px 10px;
    }

    .loan-header {
        text-align: center;
        margin-bottom: 25px;
    }

    .main-title {
        font-size: 1.6rem;
    }

    .right-panel {
        width: 100%;
        height: auto;
        padding: 10px;
        gap: 30px;
    }

    .conditions-blank-card {
        height: 120px; 
    }

    .summary-card {
        padding: 20px;
    }

    .summary-item {
        grid-template-columns: 1fr; 
        gap: 4px;
    }
}



.reserve-checkbox {
    display: none;
}

.btn-reserve-label .text-reservado {
    display: none;
}

.btn-reserve-label {
    display: inline-block;
    text-align: center;
    user-select: none; 
}


.reserve-checkbox:checked + .btn-reserve-label .text-disponible {
    display: none;
}

.reserve-checkbox:checked + .btn-reserve-label .text-reservado {
    display: inline;
}

.reserve-checkbox:checked + .btn-reserve-label {
    background-color: #a0a0a0; 
    color: #ffffff;
    pointer-events: none;      
    box-shadow: none;
    transform: none !important;
}

/* Termina */